<div class="footer col-md-12">
    <div class="footerOverlay ">
        <br><br>
        <center>
            <div style="width:90%;" cellpadding="20" cellspacing="0" >
                <div style="width:100%;color:#5FCF80">
                    <div style="width:100%;color:#777">
                        <br>
                        <div style="width:100%;" class="footMenu">
                            <div class="footernav col-md-offset-2 col-md-3" style=" float:left; padding-bottom:40px;width:33.33%">
                                <div class="heading">Contact us</div>
                                <div style="width:100%;" class="footMenu">
                                    <div class="confused" style="font-size:19px; float:left; text-align:left;">
                                        <a href="mailto:desiinfoguru@gmail.com">
                                            <i class="fa fa-envelope"style="height:15px; padding-right:10px;"></i>
                                            <span style="font-size:16px; margin-left:7px;"> xxxxxxxx@gmail.com</span>
                                        </a>
                                        <br>
                                        <p style="font-size:22px; margin-top:10px;">
                                            <i class="fa fa-phone-square"style="height:15px; padding-right:10px;"></i>
                                            <span style="font-size:16px;">xxx-xxx-xxxx</span>
                                        </p>
                                    </div>
                                    <div style="float: left;margin-top: 15px;margin-left: 40px;">
                                    </div>
                                </div>
                            </div>
                            <div class="footernav col-md-3" style="float:left;width:25.33%;">
                                <div class="heading">Links </div>
                                <div width="100%" cellpadding="3" cellspacing="0" class="footMenu" style="float: left;">
                                    <div class="mainnav">
                                        <div class="nav">
                                            <a href=""> Home</a>
                                        </div>

                                        <div class="nav">
                                            <a href=""> List</a>
                                        </div>
                                        <div class="nav">
                                            <a href=""> Post</a>
                                        </div>
                                        <div class="nav">
                                            <a href=""> About</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="footernav col-md-3" style="float:left;width:20.33%; ">
                                <div class="heading">Social</div>
                                <br>
                                <div width="100%" class="footMenu" style="float: left;">
                                    <a style="float:left;" class="footersocial">
                                        <a href="" <span class="fa-stack fa-lg">
                                        <i class="fa fa-square-o fa-stack-2x"></i>
                                        <i class="fa fa-facebook fa-stack-1x"></i>
                                    </span></a>
                                    <a href=""<span class="fa-stack fa-lg">
                                        <i class="fa fa-square-o fa-stack-2x"></i>
                                        <i class="fa fa-twitter fa-stack-1x"></i>
                                    </span></a>
                                    <br><br>
                                </div>
                            </div>
                            <p style="font-size: 12px;float:right;">© 2016  ALL RIGHTS RESERVED.</p>
                        </div>


                    </div>


                </div>
            </div>
        </center>
    </div>
</div>