<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
<head>
    <meta charset="UTF-8">
    <title>Website</title>
    <link rel="stylesheet" href="..\frameworks\bootstrap\css\bootstrap.css"/>
    <link rel="stylesheet" href="..\fontawesome\css\font-awesome.css">
    <link rel="stylesheet" href="..\css\main.css"/>
    <link rel="stylesheet" href="..\css\footer.css"/>
</head>
<body>
<div>
    <nav-service></nav-service>
</div>
<div class="sub" ng-view></div>
<div>
    <footer-service></footer-service>
</div>
<script type="text/javascript" src="../frameworks/jquery/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="../frameworks/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../frameworks/angular/angular.min.js"></script>
<script type="text/javascript" src="../frameworks/angular/angular-route.min.js"></script>
<script type="text/javascript"  src="../frameworks/angular/angular-animate.min.js"></script>
<script type="text/javascript" src="../frameworks/underscore/underscore-min.js"></script>
<script type="text/javascript" src="../frameworks/moment/moment.min.js"></script>
<!-- <script type="text/javascript" src="../frameworks/angular/ui-bootstrap-tpls-0.14.3.min.js"></script>-->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="../js/mainApp.js"></script>
<script type="text/javascript" src="../js/Directives/commonDirective.js"></script>
<script type="text/javascript" src="../js/Controllers/listController.js"></script>
</body>
</html>