<section>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <!--<button type="button" class="navbar-toggle" info-toggle="collapse" info-target="#bs-example-navbar-collapse-1">-->
                    <!--<span class="sr-only">Toggle navigation</span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                <!--</button>-->
                <a class="navbar-brand" href="#page-top"><strong>Website</strong></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden active">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#Home">Home</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#List">List</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#Post">Post</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#About">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#Login">Login</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
</section>
